@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  background: #D7BBF5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D7BBF5, #FBA1B7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D7BBF5, #FBA1B7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Quicksand", sans-serif;
}

.centered {
  padding-top: 90px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #323232;
}

.lottie-player {
  margin: 0 auto !important;
}

.lottie {
  padding-bottom: 20px;
}

.jumbotron {
  background: #FBA1B7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D7BBF5, #FBA1B7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D7BBF5, #FBA1B7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}